<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Prototipo.Properties.Settings.El_Pana_MiguelConnectionString"
            connectionString="Data Source=DESKTOP-66DBVQK\YEYOSERVER;Initial Catalog=&quot;El Pana Miguel&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>